/* 初期処理 */
@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #D9DADA;
  scrollbar-width: thin;
  scrollbar-color: gray #D9DADA;
}   

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: none;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
}


/* ヘッダー -----------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header-image img{
  max-width: 120px;
  margin-right: 10px;
}

.header-text {
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header-choices {
  display: flex;
  font-family: 'DotGothic16', sans-serif;
}

/* ヘッダー ここまで-----------------------*/
/* main ここから--------------------------*/
.introduction {
  font-family: 'DotGothic16', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 10px;
  font-size: 20px;
  line-height:  40px;
  animation: SlideIn 2.0s;
  margin-top: 20px;
  text-align: center;
}
.home-choices {
  border: 5px solid #333333;
  border-style: double;
  border-radius: 10px;
  font-family: 'DotGothic16', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 10px;
  font-size: 20px;
  line-height:  40px;
}

.news {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.articles {
  border: 3px solid #333333;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  height: 100px;  /* 長い時はスクロール */
  overflow:auto;  /* 長い時はスクロール */

} 

.article {
  flex-direction: column;
  white-space:  nowrap;
  text-decoration: underline;
}

.main {
  min-height: calc(100vh - 220px);
}

.main-content {
  max-width: 1200px;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}



.hero-image {
display: block;
max-width: 80px;
max-height: 80px;
margin: 5px;
margin-right: 8px;
animation: SlideIn 2.0s;
}


/* CSSアニメーションの設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.search-area {
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  line-height: 30px;
  display: block;
  border: 5px solid #333333;
  border-radius: 10px;
  padding: 16px 10px;
  max-height: 180px;
  margin: 5px;
}

.search-area input {
  width: 100%;
  max-width: 200px;
  height: 35px;
}

::placeholder {
  justify-content: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 18px;
}

/* 選択肢エリアここから------------- */
/* ----------------- */
/* 検索機能 */
.selects {
  display: block;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 660px;
  padding: 10px;
  line-height: 20px;
}

.selects-generation {
  display: flex;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #333333;
}
.generation {
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  width: 30px;
}
.softs {
  width: calc(100% - 30px);
  display: flex;
  font-size: 12px;
  margin: 0px,4px;
  align-items: center;
  padding: 2px;
  flex-wrap: wrap;
}
/* ランダム機能 */
.random-selects {
  display: block;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 40px;
}

.random-generation {
  display: flex;
  max-width: 640px;/*  */
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #333333;
  align-items: center;/*  */
}

.check-box {
  align-items: center;
}
.radio-button {
  align-items: center;
}

.ran-generation {
  /* font-weight: bold; */
  font-size: 18px;/*  */
  padding: 4px 2px;
  /* min-width: 100px; */
  display: flex;
  flex-direction: row-reverse;
}
.ran-generation label{
  margin-left: 8px;
  margin-right: 8px;
}
.ran-softs {
/*   width: calc(100% - 30px); */
  display: flex;
  font-size: 12px;
  margin: 0px 4px;
  align-items: center;
  padding: 2px;
  flex-wrap: wrap;
}
/* 共通 */
.soft {
  display: flex;
  margin-right: 10px;
}

/* ----------------- */

.submit-button input{
  background-color: lightgray;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 10px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom:30px
}

.random-submit-button input{
  background-color: lightgray;
  display: inline-block;
  width: 100%;
  max-width: 130px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  text-align: start;
  height: 35px;
}

.submit-button {
  text-align: center;

}

.submit-button input:hover {
  background-color: gray;
}
.random-submit-button input:hover {
  background-color: gray;
}

/* 選択肢エリアここまで------------- */


.footer {
  display: flex;
  align-items: center;
  text-align: center;
  color: #D9DADA;
  background-color: rgb(55,60,56);
  height: 120px;
}

.footer p{
  margin-right: auto;
  margin-left: auto;
}

/* ---------- */
/* 検索結果画面 */
/* ---------- */
.result {
  min-width: 200px;
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-family: 'DotGothic16', sans-serif;
  justify-content: space-between;
  
}
.result-soft-name {
  font-weight: bold;
  font-size: 20px;  /* 長いソフト名で2行になること避ける */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.result-flame {
  height: 230px;

  border: 5px solid #333333;
}

.result-poke-name {
  font-weight: bold;
  font-size: 34px;
  margin: 10px;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

.result-index-text {
  font-size: 24px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 150px;  /* 長い時はスクロール */
  overflow-y: auto;
}

.enc-message {
  text-align: center;
  margin-top: 6px;
  font-size: 18px;
}

.link-button {
  background-color: lightgray;
  display: block;
  max-width: 200px;
  min-width: 180px;
  line-height: 48px;
  border-radius: 10px;
  border: 2px solid #333333;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 30px auto;
}

/* ver1.1ヘルプ機能追加 */
.help-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 660px;
  padding: 10px;
}
.help-button-icon {
  height: 18px;
}
.help-button span{
  font-size: 18px;
}
.js-mordal {
  display: none;
  background-color: #333333;
}

.js-mordal.is-show {
  display: block;
}
/* グレー背景 */
.layer {
  background: rgba(0, 0, 0, .2); /* 背景を薄くする */
  width: 100%;
  height: 100%;
  position: fixed; /* 画面に固定するために指定 */
  top: 0;
  left: 0;
}

/* モーダルコンテンツ */
.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  min-width: 440px;
}
.help-text summary {
  text-decoration: underline;
}

.mordal-innner{
  max-width: 800px;
  margin-top: 125px;
  margin-bottom: 125px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: lightgrey;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);/* モーダルにシャドウをかける */
  border-radius: 13px; /* モーダルの角を丸める */
  display: block;
  padding: 21px 8px 21px;
  height: auto;
}

.back-button-icon{
  height: 26px;
  float: right;
  margin-right: 8px;
}

.help-text dl{
  padding: 10px;
}
.help-text dt{
  font-weight: bold;
  font-size: 16px;
}

/* ----------------- */


/* 選択肢の数だけ増幅 */
.choice-1 .hover-1{
  display: none;
}

.choice-1:hover .normal-1 {
  display: none;
}

.choice-1:hover .hover-1 {
  display: inline;
}
/* ---------------- */
/* 選択肢の数だけ増幅 */

.choice-2 .hover-2{
  display: none;
}

.choice-2:hover .normal-2 {
  display: none;
}

.choice-2:hover .hover-2 {
  display: inline;
}
/* -------------- */
.link-button:hover {
  background-color: gray;
}

.article_detail{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
  min-height: 400px;
}

.article_detalil_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.article_detail hr {
  margin-top: 10px;
}

.article_detail_text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 800px) {
  .header {
    box-shadow:0px 10px 10px -5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .main-content {
    max-width: 1200px;
    max-height: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
  }
  .hero-image {
    max-width: 60px;
    max-height: 60px;
    margin: 5px;
    animation: SlideIn 2.6s;
  }

  .search-area {
    font-family: 'DotGothic16', sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: block;
    border: 3px solid #333333;
    padding: 10px;
    margin: 0px 10px;
  }
  
  .search-area input {
    width: 100%;
    max-width: 150px;
    height: 22px;
  }

  .random-submit-button input{
    width: 100%;
    max-width: 90px;
    height: 24px;
    font-size: 14px;
    text-align: start;
  }
  .ran-generation {
    font-size: 14px;/*  */
    min-width: 90px;
  }

  .soft {
    line-height: 30px;
  }

  .soft label{
    margin-right: 10px;
    margin-left: 10px;
  }

  .soft input {
    transform: scale(1.5);
  }

  .result {
    max-width: 300px;
  }

  .result-index-text {
    height: 170px;  /* ライフ先生要望で枠サイズ固定 */
  }


  .introduction {
    max-width: 280px;
    font-size: 18px;
    padding: 2px;
    margin-bottom: 10px;

  }
  .home-choices {
    max-width: 280px;
     text-decoration:underline; 
  }
  .smart_del {
    display: none;
  }
  
  .result-soft-name {
    font-size: 20px;
  }
  
  .result-poke-name {
    font-size: 22px;
  }
  
  .result-index-text {
    font-size: 20px;
  }
  .mordal-innner {
    margin : 15px 5px;
    
  }
  .help-text dt {
    font-size: 16px;
  }
  .help-text dd {
    font-size: 14px;
  }
  .help-text summary{
    font-size: 14px;
  }

  .article_detalil_header {
    flex-direction: column;
    align-items: flex-start;
  }
  .article_detalil_date {
    margin-top: 8px;
  }
  .article_detalil_header h1{
    font-size: 24px;
  }
}